<div class="hero-unit">
  <div class="btn-group">
    <button type="button" class="btn btn-default">Finish</button>
    <button type="button" class="btn btn-default" ng-click='toggleAll()'>Cheat</button>
    <button type="button" class="btn btn-default disabled">Mines: 10</button>
  </div>
    <div ng-repeat='row in board' class='row'>
      <span class='square' ng-repeat='square in row' ng-click='showValue(square)'>
        <span ng-show='square.clicked' class='tile{{square.value}}'>{{square.value}}</span>
      </span>
    </div>
  <span ng-show='gamebanner'>Loser!</span>
</div>
